/* Gallery View (modal popup) */
dialog.gallery {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);

  background: black;
  padding: 0;
  border: 1rem solid black;
  box-sizing: content-box;
}

dialog.gallery.zoomedin {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

dialog.gallery + .backdrop, /* polyfill */
dialog.gallery::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

dialog.gallery .close {
  cursor: pointer;

  background: white;
  border: .16rem solid white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 135 135'%3E%3Cpath d='M68 0A68 68 0 0 0 0 68a68 68 0 0 0 68 67 68 68 0 0 0 67-67A68 68 0 0 0 68 0zm28 15l28 27-29 25 32 20-24 30-30-24-35 26-24-31 36-18-39-19 22-27 26 21z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  text-indent: 5rem;
  overflow: hidden;

  position: absolute;
  right: -1rem;
  top: -1rem;
}
dialog.gallery.zoomedin .close {
  top: .5rem;
  right: 1rem;
}

dialog.gallery:not(.zoomedin) img {
	object-fit: contain;
	justify-self: flex-start;
	align-self: center;
	width: 100%;
}
dialog.gallery label {
  color: white;

  position: absolute;
  left: 0;
  bottom: -.2rem;
  width: 100%;
  padding: 1rem .4rem .4rem;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,.6) 1rem, black);

  font-size: calc(.4rem + 1vmin);
}

dialog.gallery.zoomedin img {
  width: auto;
  height: auto;
  max-width: unset;
}
dialog.gallery.zoomedin label {
  display: none;
}


/* Gallery image thumbnails */
/* Unordered lists of images are shown as a small image thumbnail gallery */
article > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, max-content));
  grid-gap: .5rem;
  justify-content: center;

  list-style-type: none;
  margin: 1em 0;
  padding: 0;
}

article > ul>li {
  display: contents;
}

article > ul img {
  object-fit: cover;
  max-width: 100%;
  max-height: 12rem;

  display: block;
  border: .1rem solid white;
  box-shadow: 0 0 0 .1rem black;
  transition: .4s ease all;
}

article > ul img:hover {
  cursor: pointer;
  border: .1rem solid black;
}

/* for lone odd images while screen width is narrow */
@media screen and (max-width: 30rem) {
  article > ul li:nth-of-type(3):last-of-type img {
    grid-column: 1 / 3;
    max-height: unset;
    justify-self: center; /* portrait images are too tall to be full-width still */
  }
}
