* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

a, a:visited {
  color: black;
}



header, footer {
  font-family: 'Abril Fatface', cursive;
  color: white;
  background: black;
}

header {
  padding: 2rem 0 .5rem .75rem;
}
footer {
  padding: 1rem 0 2rem .75rem;
}

header h1 {
  margin: 0 0 .2em 0;
}
header p {
  font-size: 1.2em;
}
header a, header a:visited {
  color: white;
  text-decoration: underline;
}
header .tagline {
  border-left: 1px solid white;
  padding-left: .5em;
}

footer a.back {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
  border: .2rem solid white;
  border-radius: 50%;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  text-align: center;
}



ul.posts {
  padding-left: 1rem;
  list-style-type: disclosure-closed;
}
ul.posts li {
  margin-bottom: 1.5rem;
}
ul.posts h2, ul.posts p {
  margin: 0 0 .5rem 0;
}


main, article {
  padding: .5rem 1rem;
}

article {
  max-width: 40rem;
  overflow-x: hidden;
}

article h3,
article h2 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

article h3 + p,
article h2 + p {
  margin-top: 0;
}


/* Center single images/gifs/videos */
article p>video:only-child,
article p>img:only-child {
  display: block;
  margin: auto;
  max-width: 100%;
}


/* Panorama images are panned to reveal the entire image */
@keyframes pano {
  0 {
    left: -1rem;
  }
  100% {
    left: calc(-200vw - 1rem)
  }
}

article p>img:only-child[src$=".pano.jpg"] {
  max-width: unset;
  width: 300vw;

  position: relative;
  left: -1rem;

  animation: pano 30s ease-in-out alternate infinite;

  /* Don't make the panorama scroller bigger than half the
     screen height, crop if needed */
  max-height: 50vh;
  object-fit:cover
}


/* Block quotes inside the main article content */
article > blockquote {
  padding: 1em;
  margin-left: .5rem;
  background: #eee;
  border-left: .5rem solid #ddd;
}

/* Conversation blurbs */
article > blockquote > ul {
  list-style-type: "\2012  ";
  margin: 0;
  padding: 0 0 0 1em;
}


time::before {
  content: "🗓️ "
}


/* Better mobile experience */
@media screen and (max-width: 480px) {
  :root {
    font-size: calc(.5rem + 3vw);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, article {
  flex: 1;
}
